<span id={{dept}}></span>

<h1>{{object.title}}</h1>
<p>{{object.question}}</p>
{{#if object.options}}
    {{#optionfiller object.options}}
        {{object.option}}
    {{/optionfiller}}
{{else if object.blank}}
    <input type="text" placeholder="Type your answer here">
{{/if}}