<span id={{dept}}></span>

<!-- <h1>{{data.[0].title}}</h1>
<p>{{data.[0].question}}</p>
{{#if data.[0].options}}
    {{#optionfiller data.[0].options}}
        {{data.[0].option}}
    {{/optionfiller}}
{{else if blank}}
    <input type="text" placeholder="Type your answer here">
{{/if}} -->
{{#each questions}}
 <p>{{question}}</p>
{{/each}}