<h3>{{title}}</h3>
Type: {{question_type}} </br>
<h4>{{question}}</h4>

{{#if answers}}
    Answers: </br>
    {{#radio_button answers}}
        test
    {{/radio_button}}
{{else}}
    <input type="text" id="{{id}}">
{{/if}}

The Answer: {{answer}} </br>
